.footer__profession {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding: 0;
  align-self: left;
  transition: 0.3s ease-in-out;
  cursor: default;
}

@media (max-width: 608px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .footer__profession {
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__profession:hover ~ .footer__github-icon .background,
.footer__profession:hover ~ .footer__github-icon .icon-color {
  fill: #fff;
}
