.auth-container__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  transition: 0.3s ease-in-out;
  color: #ffffff;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .auth-container__title {
    font-size: 18px;
    line-height: 22px;
  }
}
