.auth-container__field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 36px 0 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .auth-container__field {
    margin: 36px 0 0;
  }
}
